<nav class="nav-tabs" data-toggle="tabs" data-height="equal">
  <ul>
    <li>
      <a href="#tab3" class="active">Manual input</a>
    </li>
    <li>
      <a href="#tab1" >Upload CSV</a>
    </li>
  </ul>
</nav>
<div id="tab1">
  <form action="/timeline" enctype="multipart/form-data" method="post" class="forms">
    <ul>
      <li>
        <input name="file" type="file" id="file" accept="text/csv">
      </li>
      <li>
        <input type="submit" class="btn" value="Submit">
      </li>
    </ul>
  </form>
</div>
<div id="tab3">
  <script type="text/javascript">
    $(function() {
        $('button#append-form-row').on('click',
                                       function() {
                                           $('#manual-input ul:first-child').clone().appendTo('#manual-input');
                                           $('#manual-input ul.form-row:last-child li:last-child').css('visibility','visible');
                                       });

        $('button#manual-input-submit').on('click', function(e) {
            $(':input', $(this)).removeClass('input-error');
            var valid = true;
            var f = $('.form-row').map(function() {
                valid = valid && validateRow($(this));
                return $(this).serializeHash();
            });
            $('<form action="/timeline" method="POST">' +
              '<textarea name="json">' + JSON.stringify(f.toArray()) + '</textarea>' +
              '</form>').submit();
            return false;
        });

        $(document).on('click', 'button.remove-row', function(e) {
            $(this).parent().parent().remove();
            e.preventDefault();
            updatePreview();
            return false;
        });

        var updatePreview = function() {
            var json = JSON.stringify($('.form-row').map(function() {
                return $(this).serializeHash();
            }).toArray());
            $('iframe').attr('src', '/preview?json=' + escape(json));
        };

        $(document).on('change', '#manual-input :input', updatePreview);

        var MANDATORY_FIELDS = ['day', 'month', 'year', 'description']
        // argument must be a .form-row
        var validateRow = function(row, markErrors) {
            var valid = true;
            _.each(MANDATORY_FIELDS, function(f) {
                var i = $(':input[name='+f+']');
                if (i.val() == '') {
                    if (markErrors) i.addClass('input-error');
                    valid = false;
                }
            });
            return valid;
        };

        $('.form-row :input').on('change', function() {

        });

        $('#timeline-preview a').on('click', function() {
            if ($('#timeline-preview span').html() == '▶') {
                $('iframe').css('height', '300px');
                $('#timeline-preview span').html('▼');
                $(this).html('Hide preview');
            }
            else {
                $('iframe').css('height', '0px');
                $('#timeline-preview span').html('▶');
                $(this).html('See preview');
            }
        });
    });
  </script>
  <div id="timeline-preview">
    <span>▶</span><a href="#">See preview</a>
    <iframe style="width: 100%; height: 0px;"></iframe>
  </div>
  <form class="forms" id="manual-input">
    <ul class="multicolumn form-row">
      <li style="width: 22%;">
        <label>Date <span style="color: red;">*</span></label>
        <ul class="multicolumn date-input">
          <li style="width: 33%;">
            <select name="month">
              <option value=""></option>
              <option value="Jan">January</option>
              <option value="Feb">February</option>
              <option value="Mar">March</option>
              <option value="Apr">April</option>
              <option value="May">May</option>
              <option value="Jun">June</option>
              <option value="Jul">July</option>
              <option value="Aug">August</option>
              <option value="Sep">September</option>
              <option value="Oct">October</option>
              <option value="Nov">November</option>
              <option value="Dec">December</option>
            </select>
            <div class="descr">Month</div>
          </li>
          <li style="width: 20%;">
            <select name="day">
              <option value=""></option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
            </select>
            <div class="descr">Day</div>
          </li>
          <li class="width-33">
            <input type="text" name="year" value="" style="width: 50px"/>
            <div class="descr">Year</div>
          </li>
        </ul>
      </li>
      <li style="width: 10%;">
        <label>Display date</label>
        <input name="display_date" type="text" style="width: 100px"></input>
      </li>
      <li style="width:10%">
        <label>Description <span style="color: red;">*</span></label>
        <textarea name="description" style="width: 80px; height: 100px;"></textarea>
      </li>
      <li style="width:10%">
        <label>Link</label>
        <input name="link" type="url" style="width: 80px;"  />
      </li>
      <li style="width:10%">
        <label>Series</label>
        <input name="series" type="text" style="width: 80px;"/>
      </li>
      <li style="width:15%">
        <label>HTML</label>
        <textarea name="html" style="height: 100px;"></textarea>
      </li>
      <li style="visibility: hidden">
        <button type="button" class="remove-row">X</button>
      </li>
    </ul>
  </form>
  <button id="append-form-row" class="btn">Append a new event</button>
  <button type="submit" class="btn" id="manual-input-submit">Submit</button>

</div>
