<!doctype html>
<html>
  <head>
    <title>timeline-setter creator</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/kube.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/js/jquery-2.0.2.js"></script>
    <script type="text/javascript" src="/js/jquery.serialize-hash.js"></script>
    <script type="text/javascript" src="/js/underscore-min.js"></script>
    <script type="text/javascript" src="/js/kube.tabs.js"></script>
  </head>
  <body>
    <div class="row container">
      <div class="fivesixth centered">
        <h1><a href="/">timeline-setter creator</a></h1>
        <h5>A web interface for <a href="http://propublica.org">ProPublica</a>'s <a href="http://propublica.github.io/timeline-setter/">timeline-setter</a></h5>
        <%= content %>
        <p>Copyright &copy; 2013 <a href="http://jazzido.com">Manuel Aristarán</a></p>
      </div>
    </div>
  </body>
</html>
