/* =Typography
-----------------------------------------------------------------------------*/
body {
    margin-top: 50px;
}

/* =Links
-----------------------------------------------------------------------------*/


/* =Layout
-----------------------------------------------------------------------------*/
#page {
	max-width: 940px;
	padding: 0 10px;
	margin: 24px auto;
}

iframe {
    width: 700px; height: 400px; 
}

/* =Header
-----------------------------------------------------------------------------*/


/* =Nav
-----------------------------------------------------------------------------*/

.nav-tabs {
    margin-top: 30px;
}

/* =Misc
-----------------------------------------------------------------------------*/

input[type=url] {
    width: 250px;
}


/* =Footer
-----------------------------------------------------------------------------*/
